.register-btn {
    background-color: var(--primary-purple);
    color: white;
    border: none;
    padding: 14px 36px;
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-btn:hover {
    background-color: #4a0d3a;
}

.login-btn {
    background-color: transparent;
    border: none;
    color: var(--text-dark);
    text-decoration: underline;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 5px;
    transition: color 0.3s;
}

.login-btn:hover {
    color: var(--accent-grey);
}