.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 160px;
    max-width: 1400px;
    margin: 25px auto;
    min-height: 70vh;
}

.hero-img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius: 10px;
}

.hero-content-wrapper {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 25px;
    /*max-width: 600px;*/
    color: var(--text-dark);
}

.hero-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--text-dark);
    margin-bottom: 35px;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}