@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@theme {
    --color-primary: #60074C;
    --color-primary-yellow: #F8F32B;
    --color-accent-gray: #2B2D42;
    --color-background-light: #f8f6f8;

    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        @apply font-jakarta bg-white;
    }
}