.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    background-color: #fff;
}

.nav-container {
    display: flex;
    gap: 40px;
}